:root {
  --background: #F0F4F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  
} 

.hide { 
  display: none;
}


.input-forms {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.margin-left-30{
  margin-left: 30px;
}